<div class="about-main">
  <h2>わたしのいちおし！ってなに？</h2>
  <p>
    わたしのいちおし！は1000円以下で買うことができる<br>わたしのいちおしアイテムをみんなと共有するサービスです。
  </p>
  <p>
  	新規登録をすることでたくさんの人のいちおしアイテムを知ることができます！
  </p>
  <div class="shinki">
  <%= link_to "新規登録", "/signup", class: 'btn btn-default' %>
  </div>
</div>